@font-face {
  font-family: "Qanelas Soft";
  src: local("Qanelas Soft"),
    url(./fonts/qanelassoft_black.woff2) format("woff2");
}
body {
  font-family: "Qanelass Soft";
}

*:focus {
  outline: none !important;
}
.owner-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;

  &__card {
    margin: 10px;
  }
}

.trophy {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
}

.owner__badge {
  margin: 5px;
}

.startWeeks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__card {
    width: 18em;
    font-size: 13px;
    margin: 5px;
  }
}

.spinner {
  display: block !important;
  margin: 0 auto;
}

.table-link {
  color: blue;
  cursor: grab;

  &:hover {
    color: darkblue;
    text-decoration: underline;
  }
}

.table-trail {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-brand {
  color: #55e093 !important;
  &:hover {
    color: #46b576 !important;
  }
}
