.owners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
}

.startWeeks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__card {
    width: 16em;
    font-size: 13px;
    margin: 5px;
  }
}
