.owners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
}

.startWeeks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__card {
    width: 18em;
    font-size: 13px;
    margin: 5px;
  }
}

.spinner {
  display: block !important;
  margin: 0 auto;
}

.table-link {
  color: blue;
  cursor: grab;

  &:hover {
    color: darkblue;
    text-decoration: underline;
  }
}
